<div class="card-wrapper">
  <mat-card class="expertise-card">
    <mat-card-header>
      <img src="assets/img/expert.jpg" mat-card-avatar />
      <mat-card-title>SoftHouse </mat-card-title>
      <mat-card-subtitle>
        Expertise, Contre Expertise et Proposition De Solution 
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="width: 50%;" src="assets/img/expert.jpg" alt="expertise application">
    <mat-card-content>
      <p>
        SoftHouse, la grande maison d'informatique.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button class="btn btn-primary" (click)="onExpertise()">PAR ICI</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="card-wrapper">
    <mat-card class="conception-card">
      <mat-card-header>
        <img src="assets/img/appli.jpg" mat-card-avatar />
        <mat-card-title> Conception et Developpement </mat-card-title>
        <mat-card-subtitle>
          Plus Proche De Vous Pour Mieux Vous Servir en Solution Informatique
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="width: 50%;" src="assets/img/appli.jpg" alt="conception application">
      <mat-card-content>
        <p>
         Avez vous besoin de logiciel, d'application ou de site Web ? Si oui nous sommes votre solution. 
         Nous oeuvrons dans ce cadre pour faciliter et simplifier votre gestion des taches.
        </p>
      </mat-card-content>
        <mat-card-actions >
          <button mat-raised-button class="btn btn-primary" (click)="onConception()">PAR ICI</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="card-wrapper">
    <mat-card class="job-card">
      <mat-card-header>
        <img src="assets/img/job.jpg" mat-card-avatar />
        <mat-card-title>Offres D'Emplois </mat-card-title>
        <mat-card-subtitle>
          Construit Ta Carrière Professionnelle Chez Nous 
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="width: 50%;" src="assets/img/job.jpg" alt="job application">
      <mat-card-content>
        <p>
          Agrandi Notre Equipe En Te Joignant A Nous. SoftHouse Recherche Des Informaticiens
          Qualifiés Capable d'Apporter Un Plus Value. Pour Les Jeunes Fraichement Diplomés Nous
          Offrons En Fonction De Notre Disponibilité Des Stages. 
        </p>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button class="btn btn-primary" (click)=" onJob()">PAR ICI</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="card-wrapper">
    <mat-card class="formation-card">
      <mat-card-header>
        <img src="assets/img/formation.png" mat-card-avatar />
        <mat-card-title> Formation </mat-card-title>
        <mat-card-subtitle>
          Debute une Formation Avec Nous Et Obtient Une Certification
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="width: 50%;" src="assets/img/formation.png" alt="conception application">
      <mat-card-content>
        <p>
          Passe Une Formation Proféssionnelle Dans L'Usage Des Bases De Données ( Oracle, SQL Server),
          Dans Les Language De Programmation (C++, Java, Phyton,...), Dans Les Outils De Protection Virale,
          De Bureautique Ou De Navigation.
        </p>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button class="btn btn-primary" (click)=" onFormation()">PAR ICI</button>
      </mat-card-actions>
    </mat-card>
  </div>