<div class="card-wrapper">

    <mat-card class="example-card">
      <mat-card-header>
        <img
          src="assets/img/sh.jpg"
          mat-card-avatar />
        <mat-card-title>SOFT HOUSE SARL</mat-card-title>
        <mat-card-subtitle>
            Réalisations
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1>Études et développement de logiciels </h1>
        <h3> <b>Réalisation et commercialisation de logiciels développés par SOFT HOUSE</b></h3>
    
            <p>Logiciel de Gestion et Suivi Scolaire : ce produit est installé et fonctionne dans plus de cent (200) établissements privés répartis sur toute l’étendue du territoire national. Exemples : Collège Protestant de Ouagadougou, Le Lycée Marie Curie de Ouagadougou, Lycée Saint Philippe de Koupéla, Collège des Sœurs de Tenkodogo, Lycée Béthanie I et II de Bobo Dioulasso, Cours Plastide Yaméogo de Koudougou, …etc. La liste des établissements concernés pourrait être consultée dans notre boutique.</p>
            <p>Logiciel de Gestion Commerciale Plateforme Laboratoire d’analyse médicale : Ce produit permet la gestion des recettes, des dépenses et des stocks de réactifs de labo ainsi que la tenue périodique des différents journaux comptables et professionnels spécifiques aux laboratoires. Exemples : Laboratoire Saint Elisabeth de Ouagadougou, Laboratoire du Carrefour de Ouagadougou, etc.</p>
            <p>Logiciel de paie et de gestion du personnel (Sous VB5) : ce produit permet de gérer la solde du personnel de n’importe quelle société et ce, dans le respect des textes des impôts et de la CNSS. Exemples : Lycée Saint Philippe de Koupéla, le CSC, le Médiateur du Faso, …etc.</p>
        
        <h3><b>Conception et Réalisation d’applications spécifiques</b></h3>
        <ul>
        <li>Lutte Contre le Grand Banditisme inter OPJ (Police - Gendarmerie – Justice – l’ONI-BF),</li>
        <li>Les applications spécifiques à l’Etat Major Général des Armées (Exemple : PAIE et GRH - FAN)</li>
        <li>Les applications spécifiques à la Gendarmerie Nationale (Exemple : PAIE et GRH - GN)</li>
        <li>Les applications spécifiques telles que GFC, GPR, GIMMO et GESTOCK pour le Trésor Public</li>
        <li>Les applications spécifiques pour la Gestion Hospitalière et de Facturation (CHU-Yalgado OUEDRAOGO, CHR Gaoua, CHR Tenkodogo, CHR Fada, CHR Koudougou)</li>
        <li>Les applications portant sur le Système National d’Information Sanitaire (SNIS / DEP Santé)</li>
        <li>Les applications portant sur la mise en place d’un Fichier des Entreprises et Regroupements d’Entreprises (NERE) de la Chambre de Commerce, d’Industrie et d’Artisanat du Burkina Faso
                </li>
        <li>Les applications portant sur le fichier des entreprises et associations membres de la Maison de l’Entreprise du Burkina, du fichier du registre des experts agréés, et des contacts MEBF.
                </li>
        <li>Logiciels spécifiques de gestion et suivi budgétaire (Médiateur du Faso, CSC, …etc.)</li>
        <li>Logiciel de traitement salarial (Médiateur du Faso, CSC, CHR TNK, FADA, KDG, …etc.)</li>
        <li>Logiciel de gestion du corps pastoral de l’assemblée générale des pasteurs du Burkina Faso, …Etc</li>
        </ul>
        
        <h3><b>Câblage réseau informatique</b></h3>
        <ul>
            <li>Câblage de grande envergure : Les réseaux de la Défense Nationale</li>
            <li>Câblage moyen : CHR Diori, CHR Tenkodogo, CHR Faso, etc.</li>
            <li>Câblage de faible envergure : 67 établissements scolaires et supérieurs</li>
            <li>Plusieurs bâtiments administratifs (ONG, Ambassade)</li>

        </ul>
        <h3><b>Câblage réseau électrique</b></h3>
        <ul>
            <li>Câblage de grande envergure : Le réseau électrique de MOPTEDO (en sous-traitance)</li>
            <li>Câblage moyen : Nouveau siège de l’Etat Major de l’Armée de Terre</li>
            <li>Câblage de faible envergure : plusieurs domiciles à Ouaga 2000, Somgandé, …etc.</li>
        </ul>
        <h3><b>Conseil en informatique </b></h3>
        <ul>
            <li>Consultant conseil à l’ONEA pour le volet Gestion des Ressources Humaines</li>
            <li>Consultant conseil auprès du Directeur des Services Informatiques des Armées : pour toute question ayant trait à l’informatique et à la télécommunication</li>
            <li>Consultant conseil auprès de l’Hôpital Yalgado Ouédraogo, du CHR Tenkodogo, du CHR Koudougou</li>
        </ul>
           
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="onclick()">LIKE</button>
        ☺ {{ likesCount }}
      </mat-card-actions>
    </mat-card>
  
  </div>
