<ul class="list-group">
    <li class="list-group-item" *ngFor="let user of formation">
      <h3>{{ user.firstName }}   {{ user.lastName }}</h3>
      <p>{{user.tel}}  -->   {{ user.email }} </p>
      <p>Avec ou Sans Certification :  {{ user.certification }} </p>
      <p>Langage de Formation:  {{user.langage}}</p>
      <button mat-flat-button color="primary" (click)="onDeleteBook(user)">
        <mat-icon>person</mat-icon>
        <span>Delete</span>
      </button>
        <a href="mailto: {{ user.email }}"> 
          <button mat-flat-button  >
            <mat-icon>chat</mat-icon>
            <span>call</span>
          </button>
        </a>
    </li>
  </ul>
